{% extends "base.html.twig" %}

{% block body %}
    <h1>Page d'accueil du site</h1>
    <a href={{ path('app_show') }}>page d'un utilisateur</a>
    <img src={{ asset("images/Passiflora.jpg") }} alt="">
{% endblock %}
